---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/docs.astro";

export async function getStaticPaths() {
  const posts = await getCollection("docs");

  return posts.map((post) => ({
    props: post,
    params: { slug: post.slug },
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.description}>
  <h1 class='text-5xl font-bold capitalize mb-5'>{post.slug}</h1>
  <Content />
</Layout>
