---
import Layout from "../../layouts/docs.astro";
---

<Layout title='Intro'>
  <h1 class='text-5xl font-bold capitalize mb-5'>Introduction</h1>

  <p>
    Multi-Framework Product Badge Component - the modern alternative to embed code. Compatible with
    React, Svelte, Vue, Alpine, Preact and Solid, it's fast, user-friendly, and highly customizable.
    Effortlessly add stylish product badges to your web projects, delivering exceptional experiences
    on any device. Upgrade your development workflow with this versatile and efficient component,
    ensuring your product badges stand out and captivate your audience.
  </p>
</Layout>
