---

---

<footer
  class='h-[5vh] flex items-center justify-between px-3 max-w-7xl m-auto border-t border-gray-100/5'
>
  <small></small>

  <small>
    Developed by
    <a
      target='_blank'
      class='hover:underline'
      rel='noopener noreferrer'
      href='https://twitter.com/zavbala'
    >
      @zavbala
    </a>
  </small>
</footer>
