---
import GitHub from "./github";

const locations = ["docs", "play", "changelog"];
const pathname = new URL(Astro.request.url).pathname;
---

<nav
  class='flex justify-between items-center h-[7vh] px-3 border-b border-gray-100/5 max-w-7xl m-auto'
>
  <a href='/' class='rounded p-1 md:block hidden'>
    <img src='/icon.svg' alt='' class='w-10' />
  </a>

  <ul class='flex items-center gap-x-6'>
    {
      locations.map((item, index) => (
        <li>
          <a
            href={"/" + item}
            class:list={["capitalize", pathname.includes(item) && "text-orange-600"]}
          >
            {item}
          </a>
        </li>
      ))
    }
  </ul>

  <GitHub client:load />
</nav>
