---
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";

const { title, className, frontmatter } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/icon.svg' />

    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <title>{title} - PH Badge</title>
    <meta name='description' content='Enhanced Product Hunt badge for your products.' />
    <!-- <ViewTransitions /> -->
  </head>

  <body class='bg-[#161412] text-white'>
    <Navigation />

    <main class:list={["flex flex-col max-w-7xl mx-auto lg:px-0 px-3", className]}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
